<!DOCTYPE html>
<html lang="en">

<head>
  <title>Projects | Abhishek Singh</title>
  <link rel="stylesheet" href="/public/css/project.css" type="text/css">
  <%- include('../templates/head'); -%>
</head>

<body onload="startTime()">
  <div class="bg-dark">
    <%- include('../templates/header'); -%>
  </div>
  <div class="container-fluid Project-Page-Background">
    <br>
    <div class="container">
      <div class="row mb-5 d-flex justify-content-center">
        <div class="col-12 text-center">
          <div class="display-1 fw-bold text-decoration-underline">
            Projects
          </div>
        </div>
        <div class="text-center mt-5 px-lg-5">
          <div class="fs-5 px-lg-5">
            Check out my professional history to learn more about my experience and career milestones.
            Throughout the years, I’ve developed critical skills that have led me to partner with leading industry professionals and work on exceptional projects.
            For more information about my work or to discuss a collaboration, simply get in touch.
          </div>
        </div>
        <div class="col-12 text-center mt-5 fs-7">
          <a class="btn btn-primary text-decoration-none text-white" href="https://github.com/abhishek99singh">Click Here For GitHub</a>
        </div>

        <% listofprojects.forEach(function(project){ %>
        <div class="col-lg-5 mt-5 mx-lg-5 project-box border border-5 border-success">
          <a href="/Project/<%=project.link%>">
            <h2><%=project.year%></h2>
            <h3><%=project.title%></h3>
            <h4>Technology Used - <%=project.technology%></h4>
            <p><%=project.projectDiscription1%></p>
            <p><%=project.projectDiscription2%></p>
            <br />
          </a>
        </div>
        <% }); %>
      </div>
    </div>
    <br>
  </div>
  <div class="bg-dark">
    <%- include('../templates/footer'); -%>
  </div>
</body>

</html>
