<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Logs of User</title>
  <link rel="stylesheet" href="/public/css/todolist.css">
  <%- include('../templates/head'); -%>
</head>

<body onload="startTime()">
  <%- include('../templates/header'); -%>
  <div class="todolist ">
    <br>
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="row">
        <div class="box" id="heading">
          <h1><%= ListTitle%></h1>
        </div>
        <div class="mt-5"></div>
        <% newListItems.slice().reverse().forEach(function(item){ %>
        <div class="item col-md-3 box px-5">
          <p> <%= item.authtype %> </p>
        </div>
        <div class="item col-md-9 box px-5">
          <p> <%= item.time %> </p>
        </div>
        <% }) %>
      </div>
    </div>
    <br>
  </div>
  <%- include('../templates/footer'); -%>
</body>

</html>
