<!DOCTYPE html>
<html lang="en">

<head>
  <title>Skills of Abhishek Singh</title>
  <link rel="stylesheet" href="/public/css/skills.css" type="text/css">
  <%- include('../templates/head'); -%>
</head>

<body onload="startTime()">
  <%- include('../templates/header'); -%>
  <div class="row heading">
    <div class="col-12">
      <div class="text-center display-1 fw-bold fst-italic text-decoration-underline">Skills and Services</div>
    </div>
    <div class="col-12">
      <div class="text-center display-6 mt-3" style="color: #c0e218">Exceeding Your Expectations</div>
    </div>
    <div class="col-12 px-5">
      <div class="text-center display-7 mt-4 px-lg-5">
        No matter what your needs are, you can count on my skills for the guidance and
        support necessary to produce a highly successful project.
        Each service is completely personalized and implemented in a comprehensive, professional manner to exceed your needs.
        Read below to learn more, and reach out with any questions.
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <% listofSkills.forEach(function(skill){ %>
    <div class="col-lg-5 col-12 mt-5 mx-lg-5 skill-box text-center border border-5 border-primary">
      <a href="/Skill/<%=skill.url%>">
        <div class="display-4 fw-bold fst-italic text-decoration-none text-decoration-underline mt-5 mx-5" style="color: #FF6161;"><%=skill.name%></div>
        <div class="fs-5 mt-5 mx-lg-5 text-white"><%=skill.description%><br /><br /></div>
        <br />
      </a>
    </div>
    <% }); %>
  </div>
  <%- include('../templates/footer'); -%>

</body>

</html>
